/*Top Drop-down menu*/

#container {
	margin: 0 auto;
}

p {
	text-align: center;
}

nav {

	background-color: #0d1117;
}

nav ul {
	padding: 0;
    margin: 0;
	list-style: none;
	position: relative;
}
	
nav ul li {
	display:inline-block;
	background-color: #1a1e23;
}

nav a {
	display:block;
	padding:0 10px;	
	color:#FFF;
	font-size:20px;
	line-height: 60px;
	text-decoration:none;
}

nav a:hover { 
	background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
}

/* Hide Dropdowns by Default */
nav ul ul {
	display: none;
	position: absolute; 
	top: 60px; /* the height of the main nav */
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}

/* Second, Third and more Tiers	*/
nav ul ul ul li {
	position: relative;
	top:-60px; 
	left:170px;
}

/*END Top drop-down menu*/

/*Misc*/

* { 
	font-family: Consolas, monaco, monospace;
    font-size: 107%;
}

.text {
    color: #C0C0C0;
}

.small {
    color: #C0C0C0;
    font-size: 15px;
}

body {
    background-color: #0d1117;
    opacity: 1;
    transition-duration: 0.7s;
    transition-property: opacity;
}

body.fade {
    opacity: 0;
}

hr {
  height: 2px;
  background-color: gray;
  border: 1px solid grey;
}

/*END Misc*/

/*Link*/

a:visited, a:hover, a:link {
  color: gray;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: fray;
  background-color: transparent;
  text-decoration: underline;
}

/*END Link*/

/*Scroll Menu*/

div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #333;
}
/*END Scroll Menu*/


/*Fade*/

.fade1 {
    animation: fadeIn 1s;
}

.fade2 {
    animation: fadeIn 2s;
}

.fade5 {
    animation: fadeIn 5s;
}

.fade10 {
    animation: fadeIn 10s;
}

.fade15 {
    animation: fadeIn 15s;
}

.fade20 {
    animation: fadeIn 20s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/*END Fade*/

/*Side-by-side lists*/

table, th, td {
    border: 3px solid white;
    border-collapse: collapse;
}

/*END Side-by-side lists*/