/*Top Drop-down menu*/

#container {
	margin: 0 auto;
}

p {
	text-align: center;
}

nav {
	background-color: #0d1117;
}

nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
}

nav ul li {
	display: inline-block;
	background-color: #1a1e23;
}

nav a {
	display: block;
	padding: 0 10px;
	color: #fff;
	font-size: 20px;
	line-height: 60px;
	text-decoration: none;
}

nav a:hover {
	background-color: #0d1117;
	color: slategrey;
}

nav ul ul {
	display: none;
	position: absolute;
	top: 60px;
}

nav ul li:hover > ul {
	display: inherit;
}

nav ul ul li {
	width: 300px;
	float: none;
	display: list-item;
	position: relative;
}

nav ul ul ul li {
	position: relative;
	top: -60px;
	left: 170px;
}

/*END Top drop-down menu*/

/*Misc*/

@font-face {
 
	font-family: Kawkab; 
    src: url('Kawkab.otf');
}

* {
	font-family: Kawkab, monospace;
	font-weight: bold;
	font-size: 95%;
}

.text {
	color: slategray;
	font-size: 21px;
}

.small {
	color: slategray;
	font-size: 15px;
}

body {
	background-color: #0d1117;
	opacity: 1;
	transition-duration: 0.7s;
	transition-property: opacity;
}

body.fade {
	opacity: 0;
}

hr {
	height: 2px;
	background-color: darkslategray;
	border: 1px solid darkslategray;
}

/*END Misc*/

/*Link*/

a:visited,
a:hover,
a:link {
	color: darkslategray;
	text-decoration: none;
}

a:active {
	color: darkslategray;
}

/*END Link*/

/*Scroll Menu*/

div.scrollmenu {
	overflow: auto;
	white-space: nowrap;
}

div.scrollmenu a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px;
	text-decoration: none;
}

div.scrollmenu a:hover {
	background-color: #222;
}
/*END Scroll Menu*/

/*Scroll look*/

::-webkit-scrollbar {
	height: 10px;
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #0d1117;
}

::-webkit-scrollbar-thumb {
	background-color: dimgray;
	border-radius: 20px;
}

/*END Scroll look*/

/*Fade*/

.fade1 {
	animation: fadeIn 1s;
}

.fade2 {
	animation: fadeIn 2s;
}

.fade3 {
	animation: fadeIn 3s;
}

.fade5 {
	animation: fadeIn 5s;
}

.fade7 {
	animation: fadeIn 7s;
}

.fade10 {
	animation: fadeIn 10s;
}

.fade15 {
	animation: fadeIn 15s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

/*END Fade*/

/*Side-by-side lists*/

table {
	border: 3px solid gray;
	border-collapse: collapse;
	margin: 0px 20px 0px 20px;
}

th,
td {
	border: 3px solid gray;
	border-collapse: collapse;
	padding: 10px 10px 0px 0px;
}

table ul {
	list-style-type: none;
}

/*END Side-by-side lists*/